@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;800&family=Roboto+Mono:ital,wght@0,400;1,200;1,700&display=swap');

/* Global */

* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(to bottom right, #000000, rgb(61, 40, 82));
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    overflow: hidden;
    margin: 0;
  }

  /* Logo */
  
  .logo {
      margin: 10px 10px;
  }
  
  .logo h2 {
      color: rgb(217, 166, 72);
      margin: auto;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  /* Panels */
  
  .container {
      display: flex;
      width: 70vw;
      justify-content: center;
      padding: 2%;
  }
  
  .panel {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 80vh;
      width: 10%;
      padding: 30px 30px;
      border-radius: 50px;
      color: white;
      cursor: pointer;
      margin: 10px;
      position: relative;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(217, 166, 72);
      
  }
  
  .panel h3 {
      font-size: 24px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      opacity: 0;
      text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  } 

  .panel button {
    opacity: 0;
}

  a {
    color: rgb(217, 166, 72);
    cursor: grab;
  }

article {
    display: none;
}
  
  .panel.active {
      width: 80%;
      margin: auto;
      transition: width 0.9s ease-in-out;
  }
  
  .panel.active h3 {
      opacity: 1;
      transition: opacity 0.7s ease-in;
  } 
  
  .panel.active button {
      opacity: 1;
      height: 20vh;
      width: 20vh;
      font-size: 1.2rem;
      transition: opacity 1.5s ease-in;
  }

  .panel.active article {
    display: block;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 15px 10px 5px rgba(6, 3, 23, 0.65);
    font-size: medium;
    border: none;
    background-color: rgba(176, 39, 114, 0.7);
    margin: auto;
    margin-top: 5%;
    width: 90%;
    padding: 10px;
    transition: opacity 0.7s ease-in;
  }

  /* Drums */
  
  .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;  
  }

    .btn {
        background-color: rgb(61, 40, 82);
        border-radius: 50px;
        border: none;
        box-shadow: 15px 10px 5px rgba(6, 3, 23, 0.675);
        color: rgb(250, 200, 106);
        cursor: grab;
        margin: 1rem;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        font-size: xx-large;
    }

    #kit2-1,
    #kit2-2,
    #kit2-3,
    #kit2-4,
    #kit2-5,
    #kit2-6  {

        border: none;
        box-shadow: 15px 10px 5px rgba(6, 3, 23, 0.675);
        cursor: grab;
        margin: 1rem;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        background-color: rgb(132, 128, 88);
        border-radius: 20px;
        color: antiquewhite;
    }
  
    .btn:active,
    .playing {
      transform: scale(1.1);
      border: solid;
      background-color:  rgb(61, 40, 82);
      border-color: rgba(217, 166, 72, 0.814);
      box-shadow: 15px 15px 5px rgba(208, 119, 68, 0.876);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .active .btn:hover {
        opacity: 0.95;
        transition: 0.2s ease-in-out;
        
    }

    /* Piano */

    .panel.active .piano-case {
        height: 300px;
        padding: 90px 30px 0 30px;
        background-color: #fc8989;
        border-radius: 10px;
        box-shadow: 15px 15px 5px rgba(6, 3, 23, 0.675);
    }

    .piano {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;  
    }

    .keys {
        opacity: 0;
    }

    .panel.active .keys {
        position: relative;
        opacity: 1;
        transition: opacity 1.5s ease-in;
    }

    .panel.active .white-key {
        width: 68px;
        height: 200px;
        background-color: white;
        border-radius: 0 0 5px 5px;
        border: solid #000 2px;
        box-sizing: border-box;
    }

    .panel.active .black-key {
        width: 38px;
        height: 160px;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
        position: absolute;
        background-color: #000;
    }

    .black-key p {
        font-family: Arial, Helvetica, sans-serif;
        color: #fc8989;
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 20px;
        margin: 0;
    }

    .white-key p {
        font-family: Arial, Helvetica, sans-serif;
        color: #fc8989;
        font-size: 15px;
        position: relative;
        bottom: 0;
        left: 30px;
        margin: 0;
    }

    .black-key:nth-child(1) {
        left: 48px;
    }

    .black-key:nth-child(2) {
        left: 117px;
    }

    .black-key:nth-child(3) {
        left: 253px;
    }

    .black-key:nth-child(4) {
        left: 320px;
    }

    .black-key:nth-child(5) {
        left: 389px;
    }

    .black-key:nth-child(6) {
        left: 525px;
    }

    .black-key:nth-child(7) {
        left: 594px;
    }

    .black-keys {
        z-index: 400;
        position: relative;
        display: flex;
    }

    .white-keys {
        display: flex;
    }

    .key:active,
    .key-playing {
      transform: scale(1.05);
      border: solid;
      border-color: rgb(225, 120, 195);
      box-shadow: 5px 5px 2px rgba(225, 120, 195, 0.876);
      
    }
    
    /* recorder */

    .rec-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 30%;
        margin-bottom: 10%;
    }

    .stop {
        background-color: rgb(250, 200, 106);
        border-radius: 50px;
        border: none;
        box-shadow: 15px 10px 5px rgba(6, 3, 23, 0.675);
        cursor: pointer;
        margin: auto;
        
    }

    .active .stop:hover {
        opacity: 0.80;
        transition: 0.2s ease-in-out;
    }

    .record {
        background-color: red;
        border-radius: 50px;
        border: none;
        box-shadow: 15px 10px 5px rgba(6, 3, 23, 0.675);
        cursor: pointer;
        margin: auto;
    }

    .on-record {
        opacity: 0.90;
        border: solid rgb(250, 200, 106);
        box-shadow: 10px 10px 10px yellow;
    }

    .active .record:hover {
        opacity: 0.80;
        transition: 0.2s ease-in-out;
    }

    .player {
        display: none;
        
    }

    .active .player {
        justify-content: center;
        align-items: center;
        display: flex;
    }

  /* responsive settings */  

  @media(max-width: 1930px)  {
      .buttons {
          max-height: 100%;
          overflow-x: scroll;
      }

      .container {
        width: auto;
        height: auto;
        margin-right: auto;
        justify-content: center;
        height: auto;
    }
  }

  @media(max-width: 1930px)  {
    .buttons {
        max-height: 100%;
        overflow-x: scroll;
    }

    .container {
      width: auto;
      height: auto;
      margin-right: auto;
      justify-content: center;
      height: auto;
  }

}
  
  @media(max-width: 1288px) {
      .panel.active button {
         border-radius: 35px; 
         height: 17vh;
         width: 17vh;
         margin: 10px;
         justify-content: center;
         align-items: center;
         font-size: small;
      }
  }
  
  
  @media(max-width: 923px) {
      .container {
          margin: 10px 10px;
      }
      .panel.active button {
          height: 13vh;
          width: 13vh;
          margin: 5px;
      }
  
      .logo {
          display: none;
      }

      .panel-none {
        display: none;
    }
  }
  
  @media(max-width: 569px) {
      .panel.active button {
          font-size: x-small;
          height: 10vh;
          width: 10vh;
          margin: 5px;
      }
      
      .piano-case {
        transform: rotate(-90deg);
        position: absolute;
        padding: 10px 10px;
        margin-right: 15vh;
    }

      h3 {
        display: none;
      }
      
  }