@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;800&family=Roboto+Mono:ital,wght@0,400;1,200;1,700&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(to bottom right, #000000, rgb(61, 40, 82));
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .logo {
      margin: 10px 10px;
  }
  
  .logo h2 {
      color: rgb(217, 166, 72);
      margin: auto;
      text-align: center;
      padding: auto;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .container {
      display: flex;
      width: 70vw;
      justify-content: center;
      padding: 2%;
  }
  
  .panel {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 80vh;
      width: 10%;
      padding: 30px 30px;
      border-radius: 50px;
      color: white;
      cursor: pointer;
      margin: 10px;
      position: relative;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(217, 166, 72);
      
  }
  
  .panel h3 {
      font-size: 24px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      opacity: 0;
  } 

  .panel button {
      opacity: 0;
  }
  
  .panel.active {
      width: 80%;
      margin: auto;
      transition: width 0.5s ease-in-out;
  }
  
  .panel.active h3 {
      opacity: 1;
      transition: opacity 0.7s ease-in;
  } 
  
  .panel.active button {
      opacity: 1;
      height: 20vh;
      width: 20vh;
      padding: auto;
      font-size: 1.2rem;
      transition: opacity 1.5s ease-in;
  }
  
  .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;  
  }

    .btn {
        background-color: rgb(61, 40, 82);
        border-radius: 50px;
        border: none;
        box-shadow: 15px 10px 5px rgba(6, 3, 23, 0.675);
        color: rgb(250, 200, 106);
        cursor: grab;
        margin: 1rem;
        padding: 0;
        font-size: 0;
        font-family: 'Kanit', sans-serif;
    }
  
    .btn:active,
    .playing {
      transform: scale(1.1);
      border: solid;
      background-color:  rgb(61, 40, 82);
      border-color: rgba(217, 166, 72, 0.814);
      box-shadow: 15px 15px 5px rgba(208, 119, 68, 0.876);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .key:active {
      transform: scale(1.1);
      border: solid;
      border-color: rgba(208, 119, 68);
      box-shadow: 15px 15px 5px rgba(208, 119, 68, 0.876);
      
    }
    

    .active .btn:hover {
        opacity: 0.95;
        transition: 0.2s ease-in-out;
        
    }

    .panel.active #piano {
        height: 300px;
        padding: 90px 30px 0 30px;
        background-color: #fc8989;
        border-radius: 10px;
    }

    .piano {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;  
    }

    .panel.active .keys {
        position: relative;
    }

    .panel.active .white-key {
        width: 68px;
        height: 200px;
        background-color: white;
        border-radius: 0 0 5px 5px;
        border: solid #000 2px;
        box-sizing: border-box;
    }

    .panel.active .black-key {
        width: 38px;
        height: 160px;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
        position: absolute;
        background-color: #000;
    }

    .black-key:nth-child(1) {
        left: 48px;
    }

    .black-key:nth-child(2) {
        left: 117px;
    }

    .black-key:nth-child(3) {
        left: 253px;
    }

    .black-key:nth-child(4) {
        left: 320px;
    }

    .black-key:nth-child(5) {
        left: 389px;
    }

    .black-key:nth-child(6) {
        left: 525px;
    }

    .black-key:nth-child(7) {
        left: 594px;
    }

    .black-keys {
        position: relative;
        display: flex;
    }

    .white-keys {
        display: flex;
    }

    ,
     
    #kit-btn {
        background-color: rgba(163, 50, 32);
    }

    #edm-btn {
        background-color: rgb(40, 40, 51);
    }

  @media(max-width: 1930px)  {
      .buttons {
          max-height: 100%;
          overflow-x: scroll;
      }

      .container {
        width: auto;
        height: auto;
        margin-right: auto;
        align-items: flex;
        justify-content: center;
        height: auto;
    }
  }

  @media(max-width: 1930px)  {
    .buttons {
        max-height: 100%;
        overflow-x: scroll;
    }

    .container {
      width: auto;
      height: auto;
      margin-right: auto;
      align-items: flex;
      justify-content: center;
      height: auto;
  }
}
  
  @media(max-width: 1288px) {
      .panel.active button {
         border-radius: 35px; 
         height: 17vh;
         width: 17vh;
         margin: 10px;
         justify-content: center;
         align-items: center;
         font-size: small;
      }
  }
  
  
  @media(max-width: 923px) {
      .container {
          margin: 10px 10px;
      }
      .panel.active button {
          height: 13vh;
          width: 13vh;
          margin: 5px;
      }
  
      .logo {
          display: none;
      }
  }
  
  @media(max-width: 569px) {
      .panel.active button {
          height: 10vh;
          width: 10vh;
          margin: 5px;
      }
  }